<h2>Trades</h2>
<ul class="tabs user-tabs">
  <li class="tab col s3"><a class="active blue-text" href="#open-trades">Open Trades</a></li>
  <li class="tab col s3"><a class="blue-text" href="#all-trades">All Trades</a></li>
</ul>
<div id="open-trades" class="col s12 m12 l8">
  <%= render partial: 'user_trades', locals: { trades: @open_trades, description: "open trades" } %>
</div>
<div id="all-trades" class="col s12 m12 l8">
  <%= render partial: 'user_trades', locals: { trades: @all_trades, description: "trades" } %>
</div>
