<h1>Welcome to HUTrader</h1>
<p>
  This is an application to help you organize trades and loans to complete
  collections in <a href="https://www.easports.com/nhl/hockey-ultimate-team/hut15">Hockey Ultimate Team</a>
  Upcoming Features:
  <ul>
    <li>Ability to browse players</li>
    <li>Ability to browse team checklists</li>
    <li>Ability to request a trade</li>
    <li>Ability to comment on a trade</li>
  </ul>
</p>
