@import "materialize/components/color";
@import 'materialize';

$comment-border-style: 1px solid #a1a1a1;

.alert-box {
  border-radius: 25px;
  margin-top: 1%;
  padding: 1%;
}

.success {
  background-color: #9aff9a;
}

.warning {
  background-color: #fc7373;
}

// quick fix for materialize select label issue (https://github.com/Dogfalo/materialize/issues/1690)
.select-dropdown {
  display: none;
}

select {
  display: inherit;
}

.tabs .indicator {
  background-color: #f44336;
}

.console-tag {
  padding: 2%;
}

.under-slider {
  margin-top: 2%;
}

.CommentBox {
  border: $comment-border-style;
  margin-bottom: 15px;
  &-commentBody {
    margin: 10px;
  }
  &-posterName {
    background-color: #e8f5e9;
    border-bottom: $comment-border-style;
    padding: 5px;
    &.userComment {
      background-color: #e3f2fd;
    }
  }
}
